

h1{
	background: #888;
	margin: 0px;
	padding: 10px;
	color: white;
}

p{
	background: #999;
	color: white;
	border-radius: 10px;
	padding: 10px;
}

li {
	background: rgb(78, 100, 255);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 5px;
	font-family: arial;
}

.contents{
	background: rgb(255, 225, 155);
}